* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/* ФОН */
body {
    margin: 0;
}

/* затемнение */
.overlay1 {
    min-height: 100vh;
    /*width: 100%; */
    background-image: url('/bg_registry.png');
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70%;

    display: flex; 
    justify-content: center;
    align-items: center;
}

/* карточка */
.card1 {
    background: #fbfbfb;
    padding: 100px 100px;
    border-radius: 14px; 
    width: 600px;
    text-align: center;
    /* box-shadow: 0 10px 30px rgba(0,0,0,0.2); */
}

/* заголовок */
.card1 h1 {
    margin-bottom: 40px;
    font-size: 28px;
}

/* форма */
form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

input {
    padding: 7px;
    border-radius: 14px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* кнопки */
button {
    padding: 7px;
    border-radius: 14px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.primary1 {
    background: #44E858;
    color: white;
    font-weight: bold;
}

.primary1:hover {
    background: #188700;   /* чуть темнее */
    transform: scale(1.02); /* лёгкое увеличение */
}

.secondary1 {
    background: white;
    border: 2px solid #44E858;
    color: #44E858;
}

.secondary1:hover {
    background: #44E858;
    color: white;
    transform: scale(1.02);
}

/* текст снизу */
.agreement1 {
    margin-top: 35px;
    font-size: 12.25px;
    color: #777;
}