/* Основные переменные */
:root {
    --primary-color: #44E858;
    --primary-hover: #188700;
    --dark-color: #1E1E1E;
    --gray-color: #757575;
    --border-radius: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
}

/* ФОН */
.overlay_wishlist {
    min-height: 100vh;
    background-image: url('/bg_registry.png');
    padding: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* МОДАЛЬНОЕ ОКНО */
.card_wishlist {
    background: rgba(255, 255, 255, 1);
    padding: 10px 10px;
    border-radius: var(--border-radius);
    max-width: 500px;
    width: 100%;
    color: var(--dark-color);
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

/* ЗАГОЛОВОК */
.card_wishlist h1 {
    text-align: center;

    color: var(--dark-color);
    font-size: 28px;
}

.card_wishlist h3 {
    margin-top: 6px;
    color: var(--dark-color);
    text-align: center;
}

/* СЕТКА - две колонки */
.wishlist-content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: stretch;
    margin-bottom: 7px;
}

/* ЛЕВАЯ КОЛОНКА - ДАННЫЕ ТОВАРА */
.column.staff-data {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* ПРАВАЯ КОЛОНКА - ФОТО */
.column.picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* БЛОКИ С ДАННЫМИ */
.input-data {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
    background: #f8f9fa;
    border: 1px solid #eee;
    border-radius: var(--border-radius);
    color: var(--dark-color);
    font-size: 14px;
}

.input-data .value {
    font-weight: 500;
    color: var(--dark-color);
}

/* ФОРМА */
form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* КНОПКИ */
button {
    padding: 12px 15px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: all 0.2s;
    margin-top: 7px;
}

button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.prim {
    background-color: var(--primary-color);
    color: white;
}

.prim:hover {
    background: var(--primary-hover);
    transform: scale(1.02);
}

.sec {
    background-color: #ecf0f1;
    color: var(--dark-color);
    border: 1px solid #bdc3c7;
}

.sec:hover {
    background: var(--primary-color);
    color: white;
    transform: scale(1.02);
}

/* СТРЕЛКИ ПАГИНАЦИИ */
.arrow {
    background: white;
    padding: 0 !important;
    margin: 0;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.2s;
    border: 1px solid #bdc3c7;
}

.arrow:hover {
    background: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.arrow svg {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
}

.arrows-container {
    margin: 20px 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}

/* ФОТО ТОВАРА */
.avatar-upload {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
}

.avatar-preview {
    width: 390px;
    height: 250px;
    overflow: hidden;
    border: 4px solid #ecf0f1;
    border-radius: var(--border-radius);
    background: #f5f5f5;
}

.avatar-preview img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

/* АДАПТИВНОСТЬ */
@media (max-width: 768px) {
    .overlay_wishlist {
        padding: 40px 20px;
    }
    
    .card_wishlist {
        padding: 25px;
    }
    
    .wishlist-content {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
    .card_wishlist h1 {
        font-size: 24px;
    }
    
    .arrows-container {
        flex-direction: column;
        gap: 10px;
    }
    
    .arrow {
        width: 100%;
        height: 40px;
    }

     .avatar-preview {
        width: 250px;  
        height: 180px;
    }
    
    button {
        width: 100%;
    }
}